<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>

  <header>
    <strong>Brand</strong>
    <nav>
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('about')}}">About</a>
      <a href="{{url_for('contact')}}">Contact</a>
    </nav>
    <nav class="user">
      {% if current_user.is_authenticated %}
      <a href="{{url_for('account')}}">Account</a>
      <a href="{{url_for('logout')}}">Logout</a>
      {% else %}
      <a href="{{url_for('registerView')}}">Register</a>
      <a href="{{url_for('loginView')}}">Login</a>
      {% endif %}
    </nav>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert-{{category}}" style="background-color: green; color: white;">
        {{message}}
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
  </main>

  <footer>
    © 2026 Brand Name
  </footer>

</body>
</html>