{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="post-details">

    {% if post.image %}
        <img src="{{ post.image.url }}" class="detail-image">
    {% endif %}

    <h1 class="detail-title">{{ post.title }}</h1>

    <p class="detail-content">{{ post.content|safe }}</p>

    {% if request.user == post.author %}
        <a href="{% url 'edit_post' post.slug %}" class="btn">Edit</a>
        <a href="{% url 'delete_post' post.slug %}" class="delete-btn">Delete</a>
    {% endif %}

</div>

{% endblock %}
